
<md-sidenav-container style="    
    position: fixed;
    top: 0px;
    background-image: url(/app/res/background.png);
    background-repeat:no-repeat;
    background-position: bottom;
    bottom: 0px;
    left: 0px;
    right: 0px;"
    
    class="example-container">
  <md-toolbar color="primary" *ngIf="state() == 'standard'">
    <md-icon id="hamburger" (click)="sidenav.open()">&#xE5D2;</md-icon>
    <button *ngIf="!getUserLogged()" md-button routerLink="/login">Login</button>
    <button *ngIf="!getUserLogged()" md-button routerLink="/register">Register</button>
    <button *ngIf="getUserLogged()" md-button routerLink="/welcome">Home</button>
    <button *ngIf="getUserLogged()" md-button routerLink="/procedure-list">Procedures</button>

  </md-toolbar>
  <md-toolbar color="primary" *ngIf="state() != 'standard'">
  </md-toolbar>

  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <router-outlet></router-outlet>

</md-sidenav-container>
