<md-card>
    <div [hidden]="submitted">
        <h1>Anagrafica</h1>
        <div [formGroup]="anagrafica" (ngSubmit)="onSubmit()">
            <md-input-container>
                <input mdInput name="first_name" placeholder="Nome" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="last_name" placeholder="Cognome" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="birth_country" placeholder="Paese di nascita" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="birth_city" placeholder="Città di nascita" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="birth_date" placeholder="Data di nascita" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="tax_code" placeholder="Codice fiscale" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="VAT" placeholder="Partita IVA" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="country" placeholder="Paese di residenza" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="city" placeholder="Città di residenza" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="address" placeholder="Indirizzo" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="postal_code" placeholder="Codice postale" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="phone" placeholder="Telefono" >
            </md-input-container>
            <md-input-container>
                <input mdInput name="email" type="email" placeholder="E-mail" >
            </md-input-container>
            <a md-raised-button (click) ="onSubmit()" >Invia</a>
        </div>
    </div>
</md-card>