<h1 id="biglabel" style="
text-align:center; 
font-weight: 200;
color:#00695c;" >Procedure</h1>
<md-tab-group>
    <md-tab label="Pratica">
        <project-plan></project-plan>
    </md-tab>
    <md-tab label="Documenti">
        <pdf></pdf>
    </md-tab>
    <md-tab label="Riepilogo">
        <report></report>
    </md-tab>
</md-tab-group>


<div class="command-button-container">
    <button md-fab class="command-button" (click)="onSave()"><md-icon>save</md-icon></button>
    <button md-fab class="command-button" (click)="onDiscard()"><md-icon>exit_to_app</md-icon></button>
    <button md-fab class="command-button" (click)="onDelete()"><md-icon>delete_forever</md-icon></button>
</div>

