<h1>Form </h1>
<md-tab-group>
    <md-tab style="font-size:20px;" label="Anagrafica">
        <master-data></master-data>
    </md-tab>
    <md-tab style="font-size:20px;" label="Inserimento dati">
        <project-plan></project-plan>
    </md-tab>
    <md-tab style="font-size:20px;" label="Documenti">
        <pdf></pdf>
    </md-tab>
    <md-tab style="font-size:20px;" label="Riepilogo">Contenuto</md-tab>
</md-tab-group>


<div class="command-button-container">
    <button md-fab class="command-button" (click)="onSave()"><md-icon>save</md-icon></button>
    <button md-fab class="command-button" (click)="onDiscard()"><md-icon>delete_forever</md-icon></button>
</div>

