<h1 style="
text-align:center; 
font-weight: 200; 
color:#00695c;" >Procedure</h1>
<md-tab-group>
    <md-tab  label="Anagrafica">
        <master-data></master-data>
    </md-tab>
    <md-tab  label="Inserimento dati">
        <project-plan></project-plan>
    </md-tab>
    <md-tab label="Documenti">
        <pdf></pdf>
    </md-tab>
    <md-tab  label="Riepilogo">Contenuto</md-tab>
</md-tab-group>


<div class="command-button-container">
    <button md-fab class="command-button" (click)="onSave()"><md-icon>save</md-icon></button>
    <button md-fab class="command-button" (click)="onDiscard()"><md-icon>delete_forever</md-icon></button>
</div>

